<!-- <div id="TheIntro">
  <h1>MILIEU</h1>
</div> -->

  <div class="row header fullwidth pos-lang">
    
      <div class="small-12 columns lang_div">
      
        <span class="lang en right"><%= link_to "EN", landing_path %></span>
          <span class="lang fr right"><%= link_to "FR", french_path %></span>
          
      </div>
    
  </div>
  
  <div class="row site_title">
  
    <div class="small-12 columns">
    
      <h1><span class="flipInY">Milieu</span></h1>
        
    </div>
  
  </div>
  
  <div class="row body_text fullwidth">
  
    <div class="small-12 large-8 columns small-centered large-centered">
    
      <p>Le problème concernant la conception et la construction de la ville future reste la déconnexion entre les citoyens, les urbanistes et les responsables municipaux . MILIEU facilite la transformation urbaine collaborative et créative en permettant aux gens de faire partie de la ville dans laquelle ils vivent. <a href="#" data-reveal-id="myModal">Pour en savoir plus</a></p>
        
    </div>
  
  </div>

  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    
      <div class="row">

        <div class="small-12 large-4 columns">
        
          <img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal1.JPG">
            <h2>ACCÈS PUBLIC</h2>
            <p>Les usagers sont informés à propos des applications de permis, des audiences publiques et des développements immobiliers dans leur quartier.</p>
            
        </div>
        
        <div class="small-12 large-4 columns">
        
          <img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal2.JPG">
            <h2>PARTICIPATION</h2>
            <p>Les usagers sont sensibilisés au potentiel de leur quartier et peuvent collaborer en partageant des idées pour le développement urbain.</p>
            
        </div>
        
        <div class="small-12 large-4 columns">
        
          <img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal3.JPG">
            <h2>ENGAGEMENT</h2>
            <p>Les usagers peuvent participer à la discussion à différents niveaux en communiquant avec leur communauté virtuelle et réelle.</p>
            
        </div>
      
      </div>
      
      <div class="row">

        <div class="small-12 columns">
        
          <a href="http://www.citiesoftomorrow.ca/wp-content/uploads/80934.pdf" target="_blank" class="modal_link">Téléchargez le rapport complet</a>
            
        </div>
        
      </div>
      
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      
  </div>
      
  <div class="row timer_title_fr fullwidth">
  
    <div class="small-12 large-8 columns small-centered large-centered">
    
      <iframe src="https://www.youtube.com/embed/hID0CEYMIog?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        
    </div>
  
  </div>
  
  
  <div class="row fullwidth no_padding footer">  
  
    <div class="small-12 large-7 columns">
    
    <%= form_for @user, url: { action: "create" } do |f| %>
        <label>Soyez averti lorsque Milieu sera en fonction
          <%= f.text_field :email, placeholder: "Adresse email" %> 
        </label>
      </div> 
      
      <div class="small-12 large-3 columns no_padding">
          <%= f.submit "Notifiez-moi", class: "button left" %>
      </div>
    <% end %>
    <div class="small-12 large-2 columns logo_col no_padding">
    
        <a href="contact@atelierruderal.com" class="contact">CONTACT</a>
        <a href="http://www.atelierruderal.com" target="_blank"><img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/ar5white-01-01.png" class="logo"></a>
           
    </div>   
      
  </div>