<!-- <div id="TheIntro">
	<h1>MILIEU</h1>
</div> -->

  <div class="row header fullwidth pos-lang">
    
    	<div class="small-12 columns lang_div">
      
      	<span class="lang en right"><%= link_to "EN", landing_path %></span>
          <span class="lang fr right"><%= link_to "FR", french_path %></span>
          
      </div>
    
  </div>
  
  <div class="row site_title">
  
  	<div class="small-12 columns">
    
    	<h1><span class="flipInY">Milieu</span></h1>
        
    </div>
  
  </div>
  
  <div class="row body_text fullwidth">
  
  	<div class="small-12 large-8 columns small-centered large-centered">
    
    	<p>The problem in designing and constructing the city of tomorrow remains the disconnection between people, urban developers and city officials. Milieu facilitates collaborative and creative urban transformation and empowers people to be part of the city in which they live. <a href="#" data-reveal-id="myModal">Learn More</a></p>
        
    </div>
  
  </div>

  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    
      <div class="row">

        <div class="small-12 large-4 columns">
        
        	<img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal1.JPG">
            <h2>PUBLIC ACCESS</h2>
            <p>Stay informed of permit applications, public hearings and project developments around your neighbourhood.</p>
            
        </div>
        
        <div class="small-12 large-4 columns">
        
        	<img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal2.JPG">
            <h2>PARTICIPATE</h2>
            <p>Users notice potential in their neighbourhood and can collaborate in sharing ideas for urban development.</p>
            
        </div>
        
        <div class="small-12 large-4 columns">
        
        	<img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal3.JPG">
            <h2>ENGAGE</h2>
            <p>Contribute to the discussion by communicating with your community both online and offline.</p>
            
        </div>
      
      </div>
      
      <div class="row">

        <div class="small-12 columns">
        
        	<a href="https://drive.google.com/file/d/0B90IsIEh3GGfUjB6MWhXWGF5M1E/view?usp=sharing" target="_blank" class="modal_link">Download summary</a>
            
        </div>
        
      </div>
      
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      
  </div>
      
  <div class="row fullwidth">
  
  	<div class="small-12 large-8 columns small-centered large-centered">
    
    	<!-- <iframe src="https://www.youtube.com/embed/hID0CEYMIog?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->

      <iframe src="https://www.youtube.com/embed/hID0CEYMIog?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  
    </div>
  
  </div>
   
  
  
  <div class="row fullwidth no_padding footer">  
  
  	<div class="small-12 large-5 columns">
    
    	 <%= form_for @user, url: { action: "create" } do |f| %>
        <label>Get notified when Milieu is live
          <%= f.text_field :email, placeholder: "EMAIL ADDRESS" %> 
        </label>
      </div> 
      
      <div class="small-12 large-3 columns no_padding">
          <%= f.submit "NOTIFY ME", class: "button left" %>
      </div>
    <% end %>
      
    <div class="small-12 large-4 columns logo_col no_padding">
    
      	<a href="mailto:contact@atelierruderal.com" class="contact">CONTACT</a>
		<a href="http://www.atelierruderal.com" target="_blank"><img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/ar5white-01-01.png" class="logo"></a>
           
    </div>   
      
  </div>