<!-- <div id="TheIntro">
	<h1>MILIEU</h1>
</div> -->

<div id="back-img">
	
	<div class="row">
	  
	  <div class=".col-xs-6 .col-sm-4"></div>
	  
	  <div class=".col-xs-6 .col-sm-4">
		<div class="title  vertical-center">
			<h1><span class="m">M</span>ILIE<span class="u">U</span></h1>

			<h4>
				<span class="tags">ACCESS &#183; </span>
				<span class="tags">PARTICIPATE &#183; </span>
				<span class="tags">COLLABORATE &#183; </span> 
				<span class="tags">DESIGN &#183; </span> 
				<span class="tags">EMPOWER</span>
			</h4>

			<hr>

			<button type="button" class="btn btn-hg btn-primary" data-toggle="modal" data-target=".ex-modal-lg">LEARN MORE</button>
			
			<div id="flash">
				<% if flash[:notice] %>
					<%= notice %>
				<% end %>
				<% if flash[:alert] %>
					<%= alert %>
				<% end %>
			</div>

		</div>

		

		





	  </div>

	  <div class=".col-xs-6 .col-sm-4">

		
		<div id="right-col">
	      <div id="countdown">
	        <div class="days"><span id="days"></span> <ins>/</ins><em>days &#183;</em></div>
	        <div class="hours"><span id="hours"></span> <ins>/</ins><em>hours &#183;&nbsp;</em></div>
	        <div class="minutes"><span id="minutes"></span> <ins>/</ins><em>min &#183;</em></div>
	        <div class="seconds"><span id="seconds"></span><em>sec</em> </div>
	      </div>
		</div>
	

		<div class="logo">
			<a href="http://atelierruderal.com/" target="_blank"><img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/ar5black-01.png" alt="logo-black" id="logo-img"></a>
		</div>
		

	  </div>


	</div>



</div>


<!-- MODAL -->

<div class="modal fade ex-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="summary">
		<!-- 	<p class="modal-summary">
			When wandering through the city, the abandoned, vacant and in-development sites are everywhere. Such spaces are highly prized and diminishing fast. The challenges that cities and inhabitants face are numerous. Spaces capable of new development remain sites of possibility and opportunity to design and construct innovative architectural and urban solutions that respond to what a city needs. 
			</p> -->
		<!-- 	<p class="modal-summary">
			The problem in designing and constructing the future city remains the disconnection between people, urban developers and city officials. This includes achieving more predictability, transparency and accountability in the planning and development process, alongside engaging individuals and communities to be involved. 
			</p>
			
			<p class="modal-summary">
			By providing access to information and demonstrating how public input affects design and construction, <b>MILIEU</b> facilitates collaborative and creative urban transformation and empowers people to be part of the city in which they live.
			</p> 
				
			<hr>
			
			<div id="app-notification">
				
			</div>
			
			<hr> -->
			
			<div class="modal-summary-wrapper">
			
				<p class="modal-summary">
			 		The problem in designing and constructing the future city remains the disconnection between people, urban developers and city officials. <b>MILIEU</b> facilitates collaborative and creative urban transformation and empowers people to be part of the city in which they live.
				</p>

				<hr>

				<p class="modal-summary">
					Don't let the city pass you by and go to the <b>People's Choice Awards</b> hosted by Ontario's Big City Mayor's to learn more and vote for <b>MILIEU</b>.
					<br>
					<p class="vote-btn">
						<a href="http://wshe.es/p9OoYEH1" target="_blank"><button class="btn btn-hg btn-primary">VOTE MILIEU #80934</button></a>
					</p>

				</p>

				
				
				
			
			
			<hr>
			
				

			<%= form_for @user, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>

				<%= f.text_field :email, placeholder: "EMAIL", id: "inputEmail", class:"form-control" %>				
				&nbsp;
	        	<%= f.submit "NOTIFY ME", class: "btn btn-sm btn-primary" %>

		    <% end %>
		</div>





      </div>

			
        
		

    </div>
  </div>
</div>




